
<head> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<h1>Editing Assignment</h1>

<%= render 'form', assignment: @assignment %>

<%= form_for @task do |form| %>
  <!-- Other task fields -->
  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select(:project_id, Project.all, :id, :name, prompt: "Select a project") %>
  </div>
  <!-- Submit button and form -->
<% end %>


<br>
<%= link_to 'Show', @assignment, class:"btn btn-outline-dark"%> |
<%= link_to 'Back', assignments_path, class: "btn btn-outline-dark"%> |
<%= link_to 'Delete', @assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%>

<style>
  h1 {
  font-family: 'Pixelify Sans', sans-serif;
  
  }

  p{
    font-family: 'Roboto Slab', serif;
  }
</style>
