<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1><%= @task.new_record? ? "New Task" : "Edit Task" %></h1>

      <div class="card shadow">
        <div class="card-body">
          <%= form_with(model: [@project, @task], local: true) do |form| %>
            <% if @task.errors.any? %>
              <div class="alert alert-danger" role="alert">
                <h5><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h5>

                <ul>
                  <% @task.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: "form-control", placeholder: "Enter task name" %>
            </div>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: "form-control", placeholder: "Enter task description" %>
            </div>

            <div class="form-group">
              <%= form.label :status %>
              <%= form.select :status, %w[unstarted started done], {}, { class: "form-control" } %>
            </div>


            <div class="form-group">
              <%= form.label :deadline %>
              <%= form.date_field :deadline, class: "form-control" %>
            </div>

            <div class="text-center">
              <%= form.submit "Save", class: "btn btn-outline-primary" %>
            </div>
          <% end %>

          <%= link_to "Back to Project", project_path(@project), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
