<h1>All Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Project</th>
    <tr>
  </thead>
  <tbody>
    <%@tasks.each do |task|%>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.deadline %></td>
        <td><%= task.project.name %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'New Task', new_project_task_path(@project) %>
