<h1>Tasks for <%= @project.name %></h1>

<p><%= link_to "New Task", new_project_task_path(@project) %></p>

<span><%=link_to "Name", :sort => "name asc"%></span>
<span><%=link_to "Name reverse", :sort => "name desc"%> </span>
<span><%=link_to "Description", :sort => "description asc"%> </span>
<span><%=link_to "Description reverse", :sort => "description desc"%></span> 
<span><%=link_to "Created_at", :sort => "created_at asc"%> </span>
<span><%=link_to "Created_at reverse", :sort => "created_at desc"%> </span>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td>
          <% case task.status %>
            <% when 'unstarted' %>
              <td>Not Started</td>
            <% when 'started' %>
              <td>In Progress</td>
            <% when 'done' %>
              <td>Completed</td>
          <% end %>
        </td>
        <td><%= task.deadline_at %></td>
        <td><%= link_to "Show", url_for([@project, task]) %></td>
        <td><%= link_to "Edit", edit_project_task_path(@project, task) %></td>
        <td><%= link_to "Destroy", url_for([@project, task]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= paginate @tasks%>
<%= link_to "Back to Projects", projects_path %>
