<h1>Tasks <%= @project.name %></h1>

<h2><%= link_to "create new task", new_project_task_path(project_id: @project.id) %></h2>

<% @tasks.each do |task| %>
  <div class="record">
    <p><%= task.id %>. <%= link_to task.name, project_task_path(@project, task) %></p>
  </div>
<% end %>
<%= link_to 'back', project_path(@project) %>