<!-- app/views/tasks/index.html.erb -->

<h1>Список задач</h1>

<% @tasks.each do |task| %>
  <div class="record">
    <h3><%= link_to task.title, project_task_path(@project, task) %></h3>
    <p><%= task.description %></p>
    <p><strong>Состояние:</strong> <%= task.state ? 'Выполнено' : 'Не выполнено' %></p>
    <p><strong>Дедлайн:</strong> <%= task.deadline %></p>
    <%= link_to 'Редактировать', edit_project_task_path(task.project, task) %>
    <%= link_to 'Удалить', [task.project, task], method: :delete, data: { confirm: 'Вы уверены?' } %>
  </div>
<% end %>

<%= link_to 'Новая задача', new_project_task_path(@project) %>
<%= link_to 'Назад к проекту', project_path(@project) %>
