<h1>Tasks for <%= @project.name %></h1>

<%= link_to "New Task", new_project_task_path(@project) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status ? "Completed" : "Not Completed" %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to "Show", project_task_path(@project, task) %></td>
        <td><%= link_to "Edit", edit_project_task_path(@project, task) %></td>
        <td><%= link_to "Destroy", [@project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Projects", projects_path %>
