<h2><%= link_to "New Task", new_project_task_path %></h2>

<%= link_to "Name", :sort => "title asc"%>
<%= link_to "Created", :sort => "created_at asc" %>
<%= link_to "Deadline", :sort => "deadline_at asc" %>

<% if @tasks.any? %>
<% @tasks.each do |task| %>
  <div class="record">
    <p><%= link_to task.title, url_for([@project, task]) %></p>
    <p><%= task.description %> | <%= task.state %> | <%= task.deadline_at %> </p>
    <p><%= link_to "Edit", edit_project_task_path(@project, task) %></p>
    <p><%= button_to "Destroy", url_for([@project, task]), method: :delete %></p>
  </div>
<% end %>
<% end %>

<%= paginate @tasks %>

<%= link_to "Back to Projects", projects_path %>
