<h1>Tasks for <%= @project.name %></h1>

<%= link_to "New Task", new_project_task_path(@project) %>

<% @project.tasks.each do |task| %>
  <div class="record">
    <h3><%= link_to task.title, project_task_path(@project, task) %></h3>
    <p><%= task.description %></p>
    <p><strong>State:</strong> <%= task.state ? 'Done' : 'Not done' %></p>
    <p><strong>Deadline:</strong> <%= task.deadline %></p>
    <%= link_to "Edit", edit_project_task_path(@project, task) %>
    <%= button_to "Destroy", project_task_path(@project, task), method: :delete, data: { confirm: 'Вы уверены?' } %>
  </div>
<% end %>

<%= link_to "Back to Projects", projects_path %>