<h1>Tasks list for project <%= @project.name %></h1>

<h2><%= link_to "New Task", new_project_task_path(project_id: @project.id) %></h2>

<h2>Sort by<h2>
<div>
<%= link_to "Name ↓", :sort => "name asc" %> | <%= link_to "Name ↑", :sort => "name desc" %>
</div>
<div>
<%= link_to "Created ↓", :sort => "created_at asc" %> | <%= link_to "Created ↑", :sort => "created_at desc" %>
</div>
<div>
<%= link_to "Deadline ↓", :sort => "deadline_at asc" %> | <%= link_to "Deadline ↑", :sort => "deadline_at desc" %>
</div>

<% @tasks.each do |task| %>
  <div class="record">
    <p><%= task.id %>. <%= link_to task.name, url_for([@project, task]) %></p>
    <p><%= link_to "Edit", edit_project_task_path(@project, task) %></p>
    <p><%= button_to "Destroy", url_for([@project, task]), method: :delete, class: "button" %></p>
  </div>
<% end %>

<%= paginate @tasks %>

<%= link_to 'Back to project', project_path(@project) %>
