<div style="text-align: center; margin-top: 20px;">
  <h1>Tasks for <%= @project.name %></h1>

  <%= link_to "New Task", new_project_task_path(@project), class: "button" %>

  <% @tasks.each do |task| %>
    <div class="record" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; background-color: #f9f9f9;">
      <p><strong>ID:</strong> <%= task.id %></p>
      <p><strong>Name:</strong> <%= link_to task.name, url_for(controller: 'tasks', action: 'show', project_id: @project, id: task)%>
      </p>
      <p><strong>Description:</strong> <%= task.description %> </p>
      <p><%= link_to "Edit", edit_project_task_path(@project, task) %></p>
      <%= button_to "Destroy", url_for(controller: 'tasks', action: 'destroy', project_id: @project, id: task), method: :delete, data: { confirm: 'Are you sure?' }%>
    </div>
  <% end %>

  <%= link_to "Back", project_path(@project), class: "button" %>
</div>
