<h1>Task Details</h1>

<p><strong>name:</strong> <%= @task.name %></p>
<p><strong>description:</strong> <%= @task.description %></p>
<p><strong>status:</strong> <%= @task.status %></p>
<p><strong>deadline:</strong> <%= @task.deadline %></p>

<p><%= link_to "edit", edit_project_task_path(@project, @task) %></p>

<%= link_to 'back', project_tasks_path(@project) %>