
<h1><%= @task.task_title %></h1>
<p>
  <%= @task.task_description %>
</p>
<p>
  <strong>State</strong>
  <%= @task.state %>
</p>
<p>
  <Strong>Deadline</Strong>
  <%= @task.deadline %>
</p>


<%= link_to 'Edit', edit_project_task_path(@task.project, @task) %>
<%= link_to 'Delete', project_task_delete_url(@task.project, @task), method: :delete %>

<%# link_to "Delete", [@task.project, @task], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

<%= link_to 'Back', project_path(@task.project)%>