<div class="record">
  <h1><%= @task.title %></h1>

  <p><%= @task.description %></p>
  <p><strong>Состояние:</strong> <%= @task.state ? 'Выполнено' : 'Не выполнено' %></p>
  <p><strong>Дедлайн:</strong> <%= @task.deadline %></p>

  <%= link_to 'Назад к списку', project_tasks_path(@task.project) %>
</div>