<h1>Task Details</h1>

<div>
<p><strong>Name:</strong> <%= @task.name %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Deadline:</strong> <%= @task.deadline_at %></p>
</div>

<div><%= link_to 'Back', project_tasks_path(@project) %></div>
