<h1>Task Details</h1>

<p><strong>Name:</strong> <%= @task.name %></p>
<p><strong>Description:</strong> <%= @task.description %></p>

<p>
    <strong>Status:</strong> 
    <% case @task.status %>
    <% when 'unstarted' %>
        <td>Not Started</td>
    <% when 'started' %>
        <td>In Progress</td>
    <% when 'done' %>
        <td>Completed</td>
    <% end %>
</p>

<p><strong>Deadline:</strong> <%= @task.deadline_at %></p>

<h1>Comments</h1>

<%= render 'comments/form' %>

<% @task.comments.each do |comment| %>
  <p><strong><%= comment.user.first_name%></strong></p>
  <p>
    <%= comment.content %>
    <p>
      <%= link_to "Edit", edit_project_task_comment_path(@task.project, @task, comment) %>
      <%= link_to "Destroy", url_for([@task.project, @task, comment]), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </p>
<% end %>


<%= link_to "Back to Tasks", project_tasks_path(@project) %>
