<p><strong>Name: </strong><%= @task.name %> </p>
<p><strong>Description: </strong><%= @task.description %> </p>
<p><strong>Status: </strong><%= @task.status %> </p>
<p><strong>Deadline: </strong><%= @task.deadline_at %> </p>
<p><%=link_to "Edit", url_for(controller: 'tasks', action: 'edit') %></p>
<p><%= button_to "Destroy", url_for(controller: 'tasks', action: 'destroy'), method: :delete %></p>

<p><%= link_to "Tasks", project_tasks_path(@project) %></p>
