<h1>Task Details</h1>

<p><strong>Name:</strong> <%= @task.name %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Deadline:</strong> <%= @task.deadline_at %></p>

<%= link_to 'Редактировать', edit_project_task_path(@project, @task) %> |
<%= link_to 'Назад к списку', project_tasks_path %>

<%# link_to 'Back', project_tasks_path(@project) %>