<h1>Task Details</h1>

<p><strong>Title:</strong> <%= @task.title %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>State:</strong> <%= @task.state ? 'Done' : 'Not done' %></p>
<p><strong>Deadline:</strong> <%= @task.deadline %></p>

<%= link_to "Back to Tasks", project_tasks_path(@project) %>