<h1>Task Details</h1>

<p><strong>Name:</strong> <%= @task.name %></p>
<p><strong>Description:</strong> <%= @task.description %></p>

<p>
    <strong>Status:</strong>
    <% case @task.status %>
    <% when 'not_started' %>
        <td>Not Started</td>
    <% when 'started' %>
        <td>In Progress</td>
    <% when 'finished' %>
        <td>Completed</td>
    <% end %>
</p>

<p><strong>Deadline:</strong> <%= @task.deadline_at %></p>

<div>
  <strong>Comments:</strong>
  <% @task.comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.first_name %>:</strong>
      <%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to "Edit", edit_project_task_comment_path(@task.project, @task, comment) %>
        <%= link_to "Delete", project_task_comment_path(@task.project, @task, comment), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<%= render 'comments/form' %>

<%= link_to "Back to Tasks", project_tasks_path(@project) %>
