<nav class="navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to 'Project Management', root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Project", new_project_path, class: "link"%>
        </li>
        <% if !current_user.present? %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_sessions_path, class: "link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_user_path, class: "link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Out', sessions_path, method: :delete, class: "link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', sessions_path, class: "link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<style>
    nav {
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.7px);
        -webkit-backdrop-filter: blur(2.7px);
        height: 4em;
        font-weight: bold;
        margin-bottom: 5em;
    }

    .navbar-brand {
        font-size: 1.5em;
    }

    .link {
        color: #EFEFEF;
        text-decoration: none;
    }
</style>