

<%= form_with(model: project) do |form| %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">

  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Servlet Project"%>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", placeholder:"Connections within connectors" %>
  </div>

  <div class="actions">
    <%= form.submit  class:'btn btn-dark'%>
  </div>
<% end %>

 </div>
</div>

<%# <%= link_to "Back", projects_path %> 
