<!-- app/views/projects/index.html.erb -->

<h1>Список проектов</h1>

<% @projects.each do |project| %>
  <div class="record">
    <h2><%= link_to project.name, project %></h2>
    <p><%= project.description %></p>
    <%= link_to 'Редактировать', edit_project_path(project) %>
    <%= link_to 'Удалить', project, method: :delete, data: { confirm: 'Вы уверены?' } %>
  </div>
<% end %>

<%= link_to 'Новый проект', new_project_path %>
