<h1>Hello world<h1>

<h2><%= link_to "New Project", new_project_path %><h2>

<%= link_to "Name", :sort => "name asc"%>
<%= link_to "Name reverse", :sort => "name desc"%>
<%= link_to "Description", :sort => "description asc" %>
<%= link_to "Description reverse", :sort => "description desc" %>
<% @projects.each do |project| %>
  <div class="record">
    <p><%= project.id %>. <%= link_to project.name, project_path(project) %></p>
    <p><%= project.description %> </p>
    <p><%= link_to "Edit", edit_project_path(project) %></p>
    <p><%= button_to "Destroy", project, method: :delete %></p>
  </div>
<% end %>

<%= paginate @projects %>
