<<<<<<< HEAD
<div class="container mt-5">
  <h1 class="text-center mb-4">Projects</h1>

  <div class="row">
    <div class="col-md-6">
      <h2><%= link_to "New Project", new_project_path, class: "btn btn-outline-primary" %></h2>
    </div>
    <div class="col-md-6 text-md-right">
      <h2><%= link_to "Back to Main", root_path, class: "btn btn-outline-primary" %></h2>
    </div>
    <%= link_to "Name", :sort => "name asc"%>
    <%= link_to "Name reverse", :sort => "name desc"%>
    <%= link_to "Description", :sort => "description asc" %>
    <%= link_to "Description reverse", :sort => "description desc" %>
  </div>

  <div class="row mt-4">
    <% @projects.each do |project| %>
      <div class="col-md-6">
        <div class="card mb-4 shadow">
          <div class="card-body">
            <h5 class="card-title"><%= link_to project.name, project_path(project) %></h5>
            <p class="card-text"><%= project.description %></p>
          </div>
          <div class="card-footer text-right">
            <%= link_to "Edit", edit_project_path(project), class: "btn btn-warning btn-sm" %>
            <%= button_to "Destroy", project, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm ml-2" %>
            <%= link_to "Destroy", project_path(project), data: { turbo_method: :delete, turbo_confirm: "Give me my plus points please:)" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @projects %>