<h1>Hello world, this is projects index view<h1>

<h2><%= link_to "New Project", new_project_path %><h2>

<% @projects.each do |project| %>
  <div class="record">
    <p><%= project.id %>. <%= link_to project.name, project_path(project) %></p>
    <p><%= project.description %> </p>
    <p><%= link_to "Edit", edit_project_path(project) %></p>
    <p><%= link_to "Tasks list", project_tasks_path(project) %></p>
    <p><%= button_to "Destroy", project, method: :delete %></p>
  </div>
<% end %>