 <head> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<%if user_signed_in?%>
<h1>Project's list<h1>

<%# <h2><%= link_to "New Project", new_project_path %>

  <table class = "table table-bordered table-hover">
     <thead class="thead-dark">
      <tr>
      <th>ID</th>
      <th>Project Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

 <tbody>
  <% @projects.each do |project| %>
  <%# <div class="record"> %>
    <tr>
    <td><%= project.id %></td>
    <td><%= link_to project.name, project_path(project) %></td>
    <td><%= project.description %> </td>

    <%# <p><%= link_to "Edit", edit_project_path(project) %>
    <td><%= link_to "Edit Project", edit_project_path(project), class:"btn btn-dark"%></td>
    <td><%= button_to "Delete", project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%></td>
    </tr>
  <%# </div> %>
<% end %>

<%= paginate @projects %>
 </tbody>
</table>

<br>

<%= link_to 'List of Assignments', assignments_path, class:"btn btn-light"%>


<%else%>

<div id="content-container">
 
    <h1>ITIS TaskTracker</h1>
    <br>
    <p>"Step into the world of seamless project management with our Ruby on Rails-powered task tracker web application.</p>
    <p>Unleash your productivity and conquer your goals like never before!"</p>
    <br>
    <p style = "text-align: center;">From a Rubynist to you!</p>
  </div>

<video autoplay muted loop id="video-bg">
  <source src="/videos/abstractBlue.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<%end%>



<style>
  h1 {
  font-family: 'Pixelify Sans', sans-serif;
  
  }

  p{
    font-family: 'Roboto Slab', serif;
  }
</style>


<%# <%= link_to "Name", :sort => "name asc"%>
<%# <%= link_to "Name reverse", :sort => "name desc"%> 
<%# <%= link_to "Description", :sort => "description asc" %>
<%# <%= link_to "Description reverse", :sort => "description desc"  %>