<div class = "header-block">
    <h1>Твои Проекты</h1>
    <%=link_to "Создать", new_project_path, class: "create-project-button"%>
</div>

<div class="body-block">
<%@projects.each do |project|%>
<div class = "project-container">

    <h3 class="container-element"><%=project.name%></h3>
    <p class="container-element"> <%=project.description%></p>
    <p class="container-element look-at-button"><%=link_to "Посмотреть поближе", project_path(project)%></p>
    <p class="container-element"><%=link_to "Удалить", project, method: :delete%></p>
</div>
<%end%>