<div style="text-align: center; margin-top: 20px;">
  <h1>Projects</h1>

  <h2 style="margin-top: 10px;">
    <%= link_to "New Project", new_project_path %>
  </h2>

  <% @projects.each do |project| %>
    <div class="record" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9; text-align: left;">
      <p><strong>ID:</strong> <%= project.id %></p>
      <p><strong>Name:</strong> <%= link_to project.name, project_path(project) %></p>
      <p><strong>Description:</strong> <%= project.description %> </p>
      <p><%= link_to "Edit", edit_project_path(project) %></p>
      <%= link_to "Destroy", project_path(project), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

    </div>
  <% end %>
</div>
