<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1><%= @project.name %></h1>

      <div class="card mb-3 shadow">
        <div class="card-body">
          <p class="card-text"><strong>Description:</strong> <%= @project.description %></p>
        </div>
      </div>

      <h2 class="mt-4">Tasks:</h2>
      <ul class="list-group">
        <% @project.tasks.each do |task| %>
          <li class="list-group-item">
            <div class="card mb-3 shadow">
              <div class="card-body">
                <h3><%= task.name %></h3>
                <p><strong>Description:</strong> <%= task.description %></p>
                <p><strong>Deadline:</strong> <%= task.deadline %></p>
                <div class="btn-group" role="group">
                  <%= link_to "Edit Task", edit_project_task_path(@project, task), class: "btn btn-warning" %>
                  <%= button_to "Destroy", project_task_path(@project, task), method: :delete, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <br>
      <%= link_to "Back to Project List", projects_path, class: "btn btn-outline-secondary" %> |
      <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-outline-primary" %> |
      <%= link_to "Add Task", new_project_task_path(@project), class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
