<h1><%= @project.name %></h1>

<p><strong>Description:</strong> <%= @project.description %></p>

<%= link_to "Back", projects_path %>

<h2>Tasks for <%= @project.name %></h2>

<%= link_to "New Task", new_project_task_path(@project), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status ? "Completed" : "Not Completed" %></td>
        <td><%= task.deadline_at %></td>
        <td>
          <%= link_to "Show", project_task_path(@project, task), class: "btn btn-primary btn-sm" %>
          <%= link_to "Edit", edit_project_task_path(@project, task), class: "btn btn-warning btn-sm" %>
          <%= link_to "Destroy", project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
