<h1><%= @project.name %></h1>
<p><%= @project.description %> </p>
<p><%= @project.id %></p>
<p><%= link_to "Edit", edit_project_path(@project) %></p>
<!--<p><%# button_to "Destroy", @project, method: :delete %></p>-->
<p><%= link_to "Delete", @project, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
<%= link_to "Back", projects_path %>


<!-- TASKS SECTION -->

<br />
<div class="Tasks-section">
  <div class="Tasks-count"><h3><%= @project.tasks.count %> <strong> Tasks</strong></h3></div>

  <br /><hr />
  <section class="tasks-display">
    <section class="done-tasks-display">
      <h2>Done</h2>

      <%= render @project.tasks.select { |task| task.status == 'Done'}.take(3) %>
    </section>

    <hr />
    <section class="to-do-tasks-display">
      <h2>To Do</h2>
      <%= render @project.tasks.select { |task| task.status != 'Done'}.take(3) %>
    </section>
  </section>

<hr />
  <%= link_to "Show All Tasks", project_tasks_path(@project)%>

  <section class="new-task">
    <h2>Add a new task</h2>
    <div class="form">
      <%= render partial: 'tasks/form', locals: {project: @project} %>
    </div>
  </section>
</div>



