<h1><p><%= @project.name %> </p></h1>
<p><%= @project.description %> </p>

<%= link_to "Back", projects_path %>

<h2><%= link_to "New Task", new_project_task_path(@project) %><h2>
<% @tasks.each do |task| %>
  <div class="record">
    <p><%= link_to task.title, url_for([@project, task])%></p>
    <p><%= link_to "Edit", edit_project_task_path(@project, task) %></p>
    <p><%= button_to "Destroy", url_for([@project, task]), method: :delete %></p>

  </div>

<% end %>