<h1><%= @project.name %></h1>

<p><strong>Description:</strong> <%= @project.description %></p>

<%= link_to "Back", projects_path , class: "btn btn-dark"%>
<br>
<br>
<%# <h2>Assignments for <%= @project.name %>
<br>
<br>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @project.assignments.each do |assignment| %>
    <%if assignment.user == current_user%>
      <tr>
        <td><%= assignment.assignment_name %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.completion_status ? "Completed" : "Not Completed"%>
        <td><%= assignment.deadline %></td>
        <td>
          <%= link_to "Show", project_assignment_path(@project, assignment), class:"btn btn-dark" %>
          <%= link_to "Destroy", project_assignment_path(@project, assignment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<%= link_to "New Assignment", new_project_assignment_path(@project), class: "btn btn-outline-dark" %>
