<!DOCTYPE html>
<html>
  <head>
    <title>TaskTrackerItis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="center">
  
    <% if current_user %>
      <%= link_to "Log out", logout_path, method: :delete %>
      <% if current_user.first_name.present? && current_user.last_name.present? %>
        <%= current_user.first_name %> <%= current_user.last_name %>
      <% else %>
        <%= current_user.email %>
      <% end %>
    <% else %>
      <%= link_to "Log in", new_sessions_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>

    <% flash.each do |type, msg| %>
      <div class="flash-<%= type %>">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
