<!DOCTYPE html>
<html>
  <head>
    <title>TaskTrackerItis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="center">
    <% flash.each do |type, msg| %>
      <div class="flash-<%= type %>">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= link_to 'Sign-Up', new_user_path %>
    <%= link_to 'Sign-in', new_sessions_path %>
    <%= yield %>
  </body>
</html>
